<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BIMReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <BIMReports.Properties.Settings>
            <setting name="BIMReports_localhost_UploadFile_FilesUploadService"
                serializeAs="String">
                <value>http://localhost:52130/WebServices/FilesUploadService.asmx</value>
            </setting>
            <setting name="BIMReports_com_cbimtech_MemberServices_MemberService"
                serializeAs="String">
                <value>http://services.cbimtech.com/WebServices/MemberService.asmx</value>
            </setting>
            <setting name="BIMReports_com_cbimtech_ProjectServices_ProjectService"
                serializeAs="String">
                <value>http://services.cbimtech.com/WebServices/ProjectService.asmx</value>
            </setting>
            <setting name="BIMReports_com_cbimtech_TimesheetServices_TimesheetService"
                serializeAs="String">
                <value>http://services.cbimtech.com/WebServices/TimesheetService.asmx</value>
            </setting>
            <setting name="BIMReports_com_cbimtech_FilesServices_FilesUploadService"
                serializeAs="String">
                <value>http://services.cbimtech.com/WebServices/FilesUploadService.asmx</value>
            </setting>
        </BIMReports.Properties.Settings>
    </applicationSettings>
</configuration>