<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BIMReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <applicationSettings>
    <BIMReports.Properties.Settings>
      <setting name="BIMReports_localhost_UploadFile_FilesUploadService" serializeAs="String">
        <value>http://localhost:52130/WebServices/FilesUploadService.asmx</value>
      </setting>
      <setting name="BIMReports_com_cbimtech_MemberServices_MemberService" serializeAs="String">
        <value>http://services.cbimtech.com/WebServices/MemberService.asmx</value>
      </setting>
      <setting name="BIMReports_com_cbimtech_ProjectServices_ProjectService" serializeAs="String">
        <value>http://services.cbimtech.com/WebServices/ProjectService.asmx</value>
      </setting>
      <setting name="BIMReports_com_cbimtech_TimesheetServices_TimesheetService" serializeAs="String">
        <value>http://services.cbimtech.com/WebServices/TimesheetService.asmx</value>
      </setting>
      <setting name="BIMReports_com_cbimtech_FilesServices_FilesUploadService" serializeAs="String">
        <value>http://services.cbimtech.com/WebServices/FilesUploadService.asmx</value>
      </setting>
    </BIMReports.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="TimeSheetDbContext" connectionString="metadata=res://*/Models.Timesheet.csdl|res://*/Models.Timesheet.ssdl|res://*/Models.Timesheet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.27.60.66;initial catalog=cbimtech_TimeSheetWeb;persist security info=True;user id=RevitUser;password=Ctc@2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>